/* Github page + skeleton compatibility*/
html
{   font-size:100%;
}    

.project-name
{
  font-weight:bolder;
}

.project-tagline
{
  font-weight:bolder;
  letter-spacing:0rem;
}

h1
{   font-size:3rem;
}

h2
{   font-size:2rem;
}

h3
{   font-size:1.5rem;
}

h4
{   font-size:1.2rem;
}

