/* Github page + skeleton compatibility*/
html
{   font-size:100%;
    color:#606c71;
}    

.project-name
{
   font-weight:bolder;
   margin-bottom: 1rem;
}

.project-tagline
{
  /*font-weight:bold;*/
  letter-spacing:0rem;
}

.page-header
{
    /*background-image:none;*/
}

.page-header .btn
{    font-size:1rem;
}

/* From http://webdesignerwall.com/tutorials/css-elastic-videos*/
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width:80%;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6
{
    color:#444;
}

h1
{   font-size:3rem;
}

h2, h3, h4, h5, h6
{   font-size:2rem;
}

