/* Github page + skeleton compatibility*/
html
{   font-size:100%;
}    

.project-name
{
  font-weight:bolder;
}

.project-tagline
{
  font-weight:bolder;
  letter-spacing:0rem;
}

.video-demo
{
  width=300px;
  height=169px;
}

@media (min-width: 400px) {
  .video-demo
  {
    width=400px;
    height=225px;
  }
}

@media (min-width: 550px) {
  .video-demo
  {
    width=560px;
    height=315px;
  }
}

h1
{   font-size:3rem;
}

h2
{   font-size:2rem;
}

h3
{   font-size:2rem;
}

h4
{   font-size:2rem;
}

