html, body
{   width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    /*overflow: hidden;*/
}

.container
{
    padding-left:16px;
    padding-right:16px;
}

.container p
{  
    font-size: 1.6rem;
    color:#555;
}

.title
{   font-size:5.5rem;
    font-weight: bold;
    color:#333;
}

.subtitle
{   color:#333;
}

.header
{   margin-top:7rem;
    margin-bottom:7rem;
    height:100%;
}

.header a
{   color:black;
    font-weight:bold;
}


.footer
{
    height:100px;
}

#anim-windows
{   position: relative;
    width: 100%;
    height: auto;
    top:0px;
    left:0px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

/* Toolbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toolbar
{
    padding: 6px 0px 6px 0px;
    margin:0px;
    height:auto;
}

.tool-button
{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    /*float:left;*/
    cursor: pointer;
    background-color: rgba(255,255,255,255);
    border-radius: 3px;
    
    padding: 0px 0px 0px 0px; 
    margin:0px 3px 0px 3px;

    height:36px;
    min-height:36px;
    max-height:36px;
    min-width: 36px;

    text-align: center;
    border: 1px solid #DDD;
    opacity:0.75;
    /*padding: 15px 3px 3px 6px;*/
    
    color:black;
    text-decoration: none;

    position:relative;
    top:0px;
    left:0px;
}

.tool-button p
{
    position:relative;
    padding:6px 6px 0px 6px;
    top: 0px;
}

.tool-button:hover
{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;
    opacity:0.90;
}

.tool-button:active
{   border: 1px solid #FFF;
    box-shadow: inset 0px 2px 4px grey;
}

.tool-button:focus
{
    outline:none;
}

.tool-button img
{
    width: 24px;
    position:relative;
    top: 3px;
}

.tool-divider
{
    position:relative;
    background-color:#DDD;
    /*float:left;*/

    padding: 0px 0px 0px 0px; 
    margin:0px 3px 0px 3px;

    width:1px;
    height:36px;
    min-height:36px;
    
    opacity:0.75;
}

#render-button
{   padding:0px 12px 0px 12px;
    /*float:right;*/
}

.file-input-container
{
    overflow: hidden;
    position:relative;
}

.file-input-button
{   height:36px;
    max-width: 200px;
    background-color:red;
    opacity: 0.0;
    position:absolute;
    top:0px;
    left:0px;
}

/* Timeline
–––––––––––––––––––––––––––––––––––––––––––––––––– http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
*/

#play-button-container
{
    padding-right:3px;
    float:left;
}

#play-button
{
    min-width:36px;
}

#timeline-callout
{
    padding: 6px;
    background-color:yellow;
    border-radius: 3px;
    position: relative;
    top:0px;
    left:0px;
    display: inline-block;
}

#timeline-container
{   width:auto;
    height:38px;
    background-color:none;
    float:left;
    padding:0px;
    margin:0px;
    background-color: #D3D3D3;/*rgb(200,0,0);*/
    border-radius: 3px;
    position:relative;
    top:0px;
    left:0px;
}

#timeline-container:hover
{/*
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    background-color:red;*/
}

#timeline-counter
{
    position:absolute;
    top:6px;
    left:12px;
    pointer-events: none; /*This allows pointer events to pass to the timeline underneath*/
}

#timeline
{   -webkit-appearance: none;
    -moz-appearance: none;
    margin:0px;
    width: 100%;
    height:38px;
    /*width: calc(100% - 80px);*/
}

#timeline::-webkit-slider-runnable-track
{   width: 100%;
    background-color: rgba(255,0,0,0);
    background-color: #D3D3D3;
    border-radius: 3px;
    padding-top:6px;
    padding-left:6px;
    padding-right:6px;
    height:36px;
}

#timeline::-moz-range-track
{   width: 100%;
    background-color: rgba(255,0,0,0);
    border: none;
    height:36px;
}

#timeline::-webkit-slider-thumb 
{   -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: 2px;
}

#timeline::-moz-range-thumb 
{   -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
}

#timeline::-ms-thumb 
{   -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: 2px;
}

#timeline:focus 
{   outline: none;
}

/* Render Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#render-container
{
    padding-top:15px;
    padding-bottom:25px;
}

.render-result-container
{   height:auto;
    position:relative;
    top:0px;
    right:0px;}

.render-result-path
{   float:left;
    width:100%;}

.render-result-animation
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    opacity: 1;}

.render-result-container:hover .render-result-animation
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0.25;}

.render-popout-button
{   position:absolute;
    top:initial;
    left:initial;
    right:0px;
    margin-top:6px;
    margin-right:6px;
    border:none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0.25;}

.render-popout-button:hover
{   -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 0.75;
    border:none;}

.render-result-container:hover .render-popout-button
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    visibility: visible;}

.render-download-button
{   position:absolute;
    top:initial;
    left:initial;
    right:0px;
    margin-top:6px;
    margin-right:48px;
    border:none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0.25;
}

.render-download-button:hover
{   border:none;
    opacity: 0.75;}

.render-result-container:hover .render-download-button
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    visibility: visible;}

/* Dropdown Options
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropdown
{   /*float:right;*/
    position:relative;
    display: inline-block;
}

.dropdown:hover .dropdown-list
{   display: block;
}

.dropdown-list
{   position:absolute;
    z-index: 1;
    top:0px;
    width:120px;
    height:auto;
    display: none;
    padding:0px;
    margin:0px;

    background-color: rgba(255,255,255,255);
    border-radius: 3px;
    border: 1px solid #DDD;

    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);

    overflow:hidden;
}

.dropdown-right
{
    right:3px;
}

.dropdown-left
{
    left:3px;
}

.dropdown-list a
{   margin:0px;
    color:black;
    width:100%;
    text-decoration: none;
}

.dropdown-button
{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    min-height: 36px;
    width:100%;
    margin:0px;
    text-decoration: none;

    opacity:0.75;

    text-align: center;

    background-color: rgba(255,255,255,255);
    border: none;
}

.dropdown-button p
{
    position:relative;
    padding:6px 6px 0px 6px;
    top: 0px;
    margin:0px;
}

.dropdown-button:hover
{
    background-color: #F3F3F3;
    opacity:0.90;
}

/* Video Container*/
/* From http://webdesignerwall.com/tutorials/css-elastic-videos*/
.video-container {
	position: relative;
	/*padding-bottom: 56.25%;*/
	padding-bottom: 45%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width:80%;
	padding-left:0%;
    left:10%;
    margin-top:50px;
    margin-bottom:50px;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}