html, body
{   width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    /*overflow: hidden;*/
}

.container
{
    padding-left:16px;
    padding-right:16px;
}

.container p
{  
    font-size: 1.6rem;
    color:#555;
}

.title
{   font-size:5.5rem;
    font-weight: bold;
    color:#333;
}

.subtitle
{   color:#333;
}

.header
{   margin-top:7rem;
    margin-bottom:7rem;
    height:100%;
}

.header a
{   color:black;
    font-weight:bold;
}

.footer
{   margin-bottom:100px;
    /*height:200px;*/
}

#anim-windows
{   position: relative;
    width: 100%;
    height: auto;
    top:0px;
    left:0px;
    background-color: black;
}

#anim-grid
{
}

#anim-grid-container
{   padding: 35px;
    background-color: lightgrey;
    position:relative;
}

#anim-display
{   background-color:black;
    padding: 10px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

/* Toolbar & Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toolbar
{
    padding: 6px 0px 6px 0px;
    margin:0px;
    height:auto;
}

.small-button
{   width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
}

.small-button:hover
{   cursor: pointer;
}

.face-container
{
    background-color: white;
    width:95px;
    height:95px;
    margin-left: -0px;
    margin-top: -25px;
    border-radius: 3px;
    display:none;
    position:absolute;
}

.face-button
{   width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    background-color:rgba(0,0,0,.1);
}

.face-button:hover
{   background-color:rgba(0,0,0,.2);
    cursor: pointer;
}

#anim-grid-hface-button
{   position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
}

#anim-grid-hface-button:hover
{   
}

#anim-grid-vface-button
{   position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 5px;
}

#anim-grid-vface-button:hover
{   
}

#anim-grid-size-button
{   position: absolute;
    left: 0px;
    top: 0px;
    margin: 5px;
}

#anim-grid-size-button
{
    position: absolute;
}

#anim-grid-size-container
{   position: absolute;
    background-color: white;
    width: 160px;
    height: 35px;
    border-radius: 3px;
    margin-top: -24px;
    text-align: left;
    padding-left: 5px;
    display:none;
}

.gridsize-button
{   width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    background-color:rgba(0,0,0,.1);
    text-align: center;
}

.gridsize-button:hover
{   background-color:rgba(0,0,0,.2);
    cursor: pointer;
}

.tool-button
{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    /*float:left;*/
    cursor: pointer;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
    
    padding: 0px 0px 0px 0px; 
    margin:0px 3px 0px 3px;

    height:36px;
    min-height:36px;
    min-width: 36px;

    text-align: center;
    border: 1px solid #DDD;
    /*padding: 15px 3px 3px 6px;*/
    
    color:#555;
    text-decoration: none;

    position:relative;
    top:0px;
    left:0px;

    z-index: 5;
}

.tool-button p
{
    position:relative;
    padding:6px 6px 0px 6px;
    top: 0px;
    float:left;
}

.tool-button:hover
{
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;
    opacity:1;
}

.tool-button:active
{   border: 1px solid #FFF;
    box-shadow: inset 0px 2px 4px grey;
}

.tool-button:focus
{
    outline:none;
}

.tool-button img
{
    width: 24px;
    position:relative;
    top: 3px;
}

.tool-button-diag
{   position: absolute;
    background-color: white;
    border-radius: 3px;
    top: -1px;
    left: -1px;
    padding: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
}

.tool-button-disabled
{   background-color: #DDD !important;
    border: 1px solid #FFF;
    box-shadow: none;
    opacity:1;
}

.tool-button-disabled:active
{   box-shadow: none;
    background-color: #DDD !important;
}

.tool-button-disabled p
{   color: #bAbAbA;
}

/* Upload face button & dialog box*/

#gen-grid-close-diag-button
{
    width:36px;
    height:36px;
    position:absolute;
    left:unset;
    right: 5px;
    top: 5px;
    margin:6px;
    cursor: pointer;
    opacity: .25;
}

#gen-grid-close-diag-button img
{
    top: 6px;
}

#gen-grid-close-diag-button:hover
{
    opacity: .75;
}

#gen-upload-button
{   width:272px;
}

#gen-grid-opendiag-button
{   padding-left:6px;
    padding-right:6px;
    max-width:270px;
    text-align: center;
}

#gen-grid-opendiag-button p
{   font-size: 15px !important;
    float: unset;
}

#gen-grid-diag
{   width:auto;
    height:auto;
    /*left: -4px;*/
    display:none;
}

.hide
{
    display:none !important;
}

.show
{
    display:block !important;
}

#gen-grid-webcam-button
{   float:left;
    width:132px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}

#gen-grid-fileselect-button
{   cursor:pointer;
    float:right;
    width:133px;
    margin-top:5px;
    margin-bottom:5px;
}

#gen-grid-webcam-disp
{   background-color: black;
    display:none;
    z-index:0;
    opacity:1;
    position: absolute;
}

#gen-grid-upload-preview
{   background-image: none;
    background-size: 274px auto;
    background-position: center;
    background-color: rgba(0,0,0,0.1);
    width: 274px;
    height: 206px;

    position:relative;
    border-radius: 3px;
    margin:0px;
    float: left;
    overflow: hidden;

    cursor: auto;
}

#gen-grid-fileselect-input
{   width:100%;
    height:200px;
    background-color: red;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
}

/* Webcam flash animation code */
@keyframes flash-on {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes flash-off {
    0%   {opacity: 0;}
    100% {opacity: 0;}
}

/* The element to apply the animation to */
/*
.webcam-flash
{   animation-name: example;
    animation-duration: 1s;
}
*/

#gen-grid-fileselect-input
{   cursor:pointer;
}

.gen-grid-button
{   position:relative;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    margin:0px;
    float: left;
    overflow: hidden;
}

.gen-grid-button:active
{   background-color: rgba(0,0,0,0.3); 
}

.gen-grid-button:hover
{
    background-color: rgba(0,0,0,0.2); 
}

.gen-grid-button p
{   padding-left:8px;
    padding-right:8px;
}

.tool-divider
{
    position:relative;
    background-color:#DDD;
    /*float:left;*/

    padding: 0px 0px 0px 0px; 
    margin:0px 3px 0px 3px;

    width:1px;
    height:36px;
    min-height:36px;
    
    opacity:0.75;
}

#render-button
{   padding:0px 12px 0px 12px;
    /*float:right;*/
}

.file-input-container
{   cursor: pointer;
    overflow: hidden;
    position:relative;
}

.file-input-button
{   height:36px;
    max-width: 200px;
    background-color:red;
    opacity: 0.0;
    position:absolute;
    top:0px;
    left:0px;
}

/* Timeline
–––––––––––––––––––––––––––––––––––––––––––––––––– http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
*/

#play-button-container
{
    padding-right:3px;
    float:left;
}

#play-button
{
    min-width:36px;
}

#timeline-callout
{
    padding: 6px;
    background-color:yellow;
    border-radius: 3px;
    position: relative;
    top:0px;
    left:0px;
    display: inline-block;
}

#timeline-container
{   width:auto;
    height:38px;
    background-color:none;
    float:left;
    padding:0px;
    margin:0px;
    background-color: #D3D3D3;/*rgb(200,0,0);*/
    border-radius: 3px;
    position:relative;
    top:0px;
    left:0px;
}

#timeline-container:hover
{/*
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    background-color:red;*/
}

#timeline-counter
{
    position:absolute;
    top:6px;
    left:12px;
    pointer-events: none; /*This allows pointer events to pass to the timeline underneath*/
}

#timeline
{   -webkit-appearance: none;
    -moz-appearance: none;
    margin:0px;
    width: 100%;
    height:38px;
    /*width: calc(100% - 80px);*/
}

#timeline::-webkit-slider-runnable-track
{   width: 100%;
    background-color: rgba(255,0,0,0);
    background-color: #D3D3D3;
    border-radius: 3px;
    padding-top:6px;
    padding-left:6px;
    padding-right:6px;
    height:36px;
}

#timeline::-moz-range-track
{   width: 100%;
    background-color: rgba(255,0,0,0);
    border: none;
    height:36px;
}

#timeline::-webkit-slider-thumb 
{   -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background: white;
    margin-top: 2px;
}

#timeline::-moz-range-thumb 
{   -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background: white;
}

#timeline::-ms-thumb 
{   -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background: white;
    margin-top: 2px;
}

#timeline:focus 
{   outline: none;
}

/* Render Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#render-container
{
    padding-top:15px;
    padding-bottom:25px;
}

/*
There is some fickering when gifs are displayed smaller than their native size.
Unsure why it happens, it appears to be a recent issue, could be jsgif related. 
Since rendered gifs are 256px, stylesheet has been set up to avoid making gifs 
smaller than 256px (as much as possible anyway).
*/

.render-result-container
{   height:auto;
    position:relative;
    top:0px;
    right:0px;
    float:left;
    width:33%;
}

@media (max-width: 770px)
{
    .render-result-container
    {   width:50%;
    }
}

@media (max-width: 500px)
{
    .render-result-container
    {   width:100%;
    }
}

.render-result-path
{   float:left;
    width:100%;
    opacity:0;
}

.render-result-animation
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    opacity: 1;}

.render-result-container:hover .render-result-animation
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0.25;}

.render-result-container:hover .render-result-path
{   opacity: 1;}    

.render-popout-button
{   position:absolute;
    top:initial;
    left:initial;
    right:0px;
    margin-top:6px;
    margin-right:6px;
    border:none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0.25;}

.render-popout-button:hover
{   -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 0.75;
    border:none;}

.render-result-container:hover .render-popout-button
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    visibility: visible;}

.render-download-button
{   position:absolute;
    top:initial;
    left:initial;
    right:0px;
    margin-top:6px;
    margin-right:48px;
    border:none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0.25;
}

.render-download-button:hover
{   border:none;
    opacity: 0.75;}

.render-result-container:hover .render-download-button
{   -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    visibility: visible;}

/* Dropdown Options
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dropdown
{   /*float:right;*/
    position:relative;
    display: inline-block;
}

.dropdown:hover .dropdown-list
{   display: block;
}

.dropdown-list
{   position:absolute;
    z-index: 10;
    top:0px;
    width:120px;
    height:auto;
    display: none;
    padding:0px;
    margin:0px;

    background-color: rgba(255,255,255,255);
    border-radius: 3px;
    border: 1px solid #DDD;

    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);

    overflow:hidden;
}

.dropdown-right
{
    right:3px;
}

.dropdown-left
{
    left:3px;
}

.dropdown-list a
{   margin:0px;
    color:black;
    width:100%;
    text-decoration: none;
}

.dropdown-button
{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    min-height: 36px;
    width:100%;
    margin:0px;
    text-decoration: none;

    opacity:0.75;

    text-align: center;

    background-color: rgba(255,255,255,255);
    border: none;
}

.dropdown-button p
{
    position:relative;
    padding:6px 6px 0px 6px;
    top: 0px;
    margin:0px;
}

.dropdown-button:hover
{
    background-color: #F3F3F3;
    opacity:0.90;
}

/* Video Container*/
/* From http://webdesignerwall.com/tutorials/css-elastic-videos*/
.video-container {
	position: relative;
    padding-bottom: 56.25%;
    margin-bottom:50px;
	/*padding-bottom: 45%;*/
	overflow: hidden;
    width:100%;
    text-align:center;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}